#=======================================================#
# Reglas para ignorar archivos o carpetas               #
#=======================================================#
/node_modules
/dll
/dist
yarn.*