#=======================================================#
# Reglas para ignorar archivos o carpetas               #
#=======================================================#
/node_modules
/dist/js
/dist/css
yarn.*